.join {
    display: flex;
    width: auto;
    padding: 72px;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.BlueJoin {
    display: flex;
    flex-direction: column;
    height: max-content;
    /* border: 1px solid red; */
    width: auto;
    padding: 72px;
    align-items: center;
    background-color: #601B96;
    border-radius: 20px;


    /* display: flex;
    flex-direction: column;
    width: 80VW !important;
    height: auto !important;
    background-color: #162A87;
    border: 2px solid red;
    align-items: center;
    border-radius: 20px;
    margin: 40px;
    margin-bottom: 120px;
    padding: 120px; */

}

.BlueJointexts {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    /* margin-top: 40px; */
    align-items: center;
}

.BlueJoinHeadTexts {
    font-size: 3em;
    line-height: 56px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #fff;
}

.BlueJoinHeadTexts span {

    line-height: 56px;
    letter-spacing: -.03em;
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    color: #F2B00D;
}

.joinptext {
    font-size: 1.3em;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    margin-top: 1em;
}


.appbuttonss {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}


.downbtnn {
    width: 10rem;
    height: 3rem;
    margin-right: 2vw;
}